@import "tailwindcss";

@theme {
  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #F9F9F9;
  --color-neutral-400: #BBBBBB;
  --color-neutral-500: #A4A4A4;
  --color-neutral-700: #777777;
  --color-neutral-800: #606060;
  --color-neutral-1000: #111111;

  --color-success-600: #206143;

  --color-accent-600: #771E42;

  --spacing-2xs: 0.75rem; /* 12px */
  --spacing-3xs: 0.5rem;  /* 8px */
  
  --spacing-header-height: 48px;
}

:root {
  --font-nunito: var(--font-nunito);
  --font-dm-sans: var(--font-DM-Sans);
}

body {
  font-family: var(--font-dm-sans), sans-serif;
  background-color: var(--color-neutral-200);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-nunito), sans-serif;
}
